.item {
	display: block;
	border-bottom: #c8c8c8 solid 1px;
	padding: 0.24rem;
}
.item .line1 {
	font-size: 0.28rem;
	color: #333;
	line-height: 0.52rem;
	background: url(../images/right.png) no-repeat right center;
	background-size: 0.12rem;
}
.item .line1 span {
	background: url(../images/news.png) no-repeat center;
	background-size: cover;
	display: inline-block;
	width: 0.37rem;
	height: 0.24rem;
	margin-left: 0.12rem;
}
.item .line2 {
	font-size: 0.24rem;
	color: #b9b9b9;
	margin-top: 0.12rem;
}
/*通讯录*/
.searchbox {
	padding: 0.49rem 0;
	border-bottom: #eae9e9 solid 0.02rem;
	position: relative;
}
.searchbox:after {
	content: '';
	width: calc(100% / 2);
	height: 0.04rem;
	background: #213e68;
	position: absolute;
	bottom: -0.035rem;
	left: 0;
}
.searchbox .search {
	background: url(../images/bar_bg.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 0.56rem;
	margin: 0 auto;
	width: calc(100% - 2.2rem);
	border: #eae9e9 solid 1px;
	border-radius: 0.08rem;
	overflow: hidden;
}
.searchbox input {
	width: 3.56rem;
	height: 0.55rem;
	padding: 0 0.1rem;
	line-height: 0.55rem;
	display: inline-block;
}
.searchbox span	{
	display: inline-block;
	width: 0.62rem;
	height: 0.55rem;
	background: url(../images/search_btn.png) no-repeat center;
	background-size: cover;
}
.address .item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.3rem 0.4rem;
}
.address .item .info {
	display: flex;
	align-items: center;
}
.address .item .info .headimg {
	width: 1.04rem;
	height: 1.04rem;
	display: inline-block;
}
.address .item .info .username {
	display: inline-block;
	margin-left: 0.24rem;
	font-size: 0.3rem;
}
.address .item .tel {
	background: url(../images/tel.png) no-repeat center;
	background-size: cover;
	width: 0.44rem;
	height: 0.44rem;
}
.cover {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(51,51,51,0.57);
	top: 0;
	left: 0;
	display: none;
}
.cover .telbox {
	width: 4.28rem;
	height: 3.53rem;
	background: url(../images/tan_bg.png) no-repeat center;
	background-size:cover;
	/*position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;*/
	margin: auto;
	margin-top: 35%;
	padding: 0 0.3rem;
	padding-top: 1.83rem;
}
.cover .telbox p {
	font-size: 0.32rem;
	margin-bottom: 0.16rem;
}
.cover .telbox p a {
	background: url(../images/tan_tel.png) no-repeat center;
	background-size: cover;
	display: inline-block;
	width: 0.48rem;
	height: 0.52rem;
	vertical-align: text-bottom;
	margin-left: 0.1rem;
}
.cover .colse {
	background: url(../images/turn_off.png) no-repeat center;
	background-size: cover;
	width: 0.59rem;
	height: 1.18rem;
	margin: 0.31rem auto 0;
}
